@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');

html,
body {
  margin: 0;
  height: 100%;
  background-color: #1F2020;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .app {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;

    @media (min-width: 960px) {
      width: 800px;
    }
  }
}
