.killer-container {
  h2,
  p {
    text-shadow: 1px 1px 10px hsla(0, 0%, 100%, 0.25), -1px -1px 10px hsla(0, 0%, 100%, 0.25);
    color: #FFFFFF;
  }

  .killer-toolbar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 8px 32px;
    margin-bottom: 32px;

    & > *:first-child {
      margin-bottom: 16px;

      @media (min-width: 960px) {
        margin: 0;
      }
    }

    @media (min-width: 960px) {
      flex-direction: row;
      margin: 0 0 32px;
    }
  }
}
