.loadoutPanel {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 32px;

  img {
    max-width: 100%;
    max-height: 140px;
  }

  & > * {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    justify-self: center;
    border-bottom: 2px solid #FF2A2B;
    padding-bottom: 16px;
    max-width: 160px;
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.firecrackerBuffer {
  display: none;
  grid-column: span 2;

  @media (min-width: 960px) {
    display: block;
  }
}
